certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.1.1
googletrans==2.4.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pillow==9.3.0
pytesseract==0.3.0
redis==4.5.4
requests==2.22.0
rq==1.1.0
secretpy==0.8.0
urllib3==1.26.5
uWSGI==2.0.18
Werkzeug==0.16.0
