certifi==2023.7.22
chardet==3.0.4
Click==7.0
Flask==2.3.2
googletrans==2.4.0
idna==3.7
itsdangerous==1.1.0
Jinja2==3.1.4
MarkupSafe==1.1.1
Pillow==10.3.0
pytesseract==0.3.0
redis==4.5.4
requests==2.31.0
rq==1.1.0
secretpy==0.8.0
Werkzeug==3.0.3
urllib3==1.26.18
uWSGI==2.0.22