{% extends "layout.html" %}
{% block content %}

{% if username %}
    <h2>Welcome {{ username }}</h2>
    <div class="ex1"><p><a href="/upload/">Upload image for decoding</a></p></div>
{% endif %}

{% if login == "failed" %}
    <p>Failed. Please try again...</p>
{% endif %}

{% if login %}
    <div class="ex1"> 
    <h2>Login:</a></h2>
    <form action="/login" method="post">
    <p>Username: {{ input('username') }}</p>
    <p>Passcode: {{ input('password', type='password')}}</p>
    <p><input type=submit value=Login></p></div>
{% endif %}

{% endblock %}
