<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ version }}</title>
<link rel="stylesheet" href="static/css/mystyle.css">
</head>
<body>

{% if error %}



<div class="ex1"><h2>Error:</h2> <p>{{ error }}</p></div>



{% endif %}

 <div class="ex1"><h2>Upload an image:

        <br><br> <form method=post enctype=multipart/form-data>

     <input type="file" name="file">

      <input type="submit" value="Upload"></h2>

    </form></div>



    </body>

    <footer>

    {% if username %}

   <h3>Welcome {{ username }}</h3>

       <p><a href ="/logout"> Logout</a></p>

    {% endif %}

<h3>Version: {{ version }} </h3>

    </footer>

</html>